@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HHMarketWebApp.ViewModels.ProductionDetail

@{ var displayItem = Model.listdata.ElementAt(0);
    var arrData = Model.listdata;
    var listItem = Model.listdata;
}

<style type="text/css">
</style>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/hhstyle.css">
<link rel="stylesheet" type="text/css" href="~/Content/productDetail.css">
<div class="container" style="margin-top: 50px;">
    <div>
        <p style="color:blue; padding-bottom: 10px;">@Model.Title</p>
        <table style="width:100%">
            <tr>
                <td style="width:40%">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <table id="imgTable"></table>
                                </td>
                                <td>
                                    <img id="largeImageId" align="middle" class="productdetail_image_large" src="">
                                </td>
                            </tr>
                        </table>
                        <div class="btn_addtocart" align="center">
                            <button class="Add-to-Cart" id="addToCartID">Add to Cart</button>
                        </div>
                    </div>
                </td>
                <td class="product_detail_right">
                    <div>
                        <table>
                            <tr>
                                <p> @Html.DisplayFor(model => displayItem.ProductionName)</p>
                            </tr>
                            <tr>
                                <td style="padding-right:10px;">by</td>
                                <td style="color:blue;"> Samsung</td>
                            </tr>
                            <tr onclick="DoNav('../Production/ReviewProduction?id=@Model.ProductId')" style="cursor:pointer">
                                <td style="padding-top: 10px;">
                                    <table>
                                        <tr id="starReiewID"></tr>
                                    </table>
                                </td>
                                <td id="reviewCountID" style="color:blue; padding-top: 10px; padding-left: 10px; text-decoration: underline"></td>
                            </tr>

                            <tr>
                                <td style="color: blue; padding-top:10px;">
                                    Price:
                                </td>
                                <td style="color:red; padding-top:10px;" id="priceID">
                                    @Html.DisplayFor(model => displayItem.Price)$
                                </td>                               
                            </tr>

                            <tr>
                                <td style="color: gray; padding-top:10px;">
                                    Color:
                                </td>
                                <td style="padding-top:10px;">

                                    <select name="color" id="colorID" size="4" style="min-width:100px;">
                                        @foreach (var itemPro in Model.listdata.GroupBy(item => item.Color))
                                        {
                                            <option onclick="changeColor('@itemPro.Key')" value=@itemPro.Key style="min-height:25px;">@itemPro.Key</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: gray; padding-top:10px;">
                                    Size:
                                </td>
                                <td style="padding-top:10px;">

                                    <select name="size" id="sizeID" size="4" style="min-width:100px;">
                                        @foreach (var itemPro in Model.listdata.GroupBy(item => item.Size))
                                        {
                                            <option onclick="changeSize(this)" value=@itemPro.Key style="min-height:25px;">@itemPro.Key</option>
                                        }
                                    </select>

                                </td>
                            </tr>

                        </table>
                        <p style="padding:10px;" id="descriptionID">
                            @Html.DisplayFor(model => displayItem.Description)
                        </p>
                    </div>
                </td>
            <tr>
        </table>
    </div>

    <input type="hidden" id="CartItem_Price" name="AAA" value="2">
    <input type="hidden" id="CartItem_ProductDetailID" name="BBB" value="2">
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var modelPro;
    var modelReview;
    $(document).ready(function () {
        @{  var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
        //  var json = serializer.Serialize(Model.listdata);
        }
        modelPro = @Html.Raw(Json.Encode(listItem));
        modelReview =  @Html.Raw(Json.Encode(Model.reviewListData));
        if (modelPro != null && modelPro != "undefined") {
            setUpImageTable(modelPro[0]);
            document.getElementById("colorID").selectedIndex = 0;
            changeColor(modelPro[0].Color);
        }
        displayReviewStar();
    });

    $("#addToCartID").click(function (event) {
	    event.preventDefault();

	    var action = '@Url.Action("AddToCart", "ShoppingCart")';
        var jsonObject = {
            "ProductDetailsId": document.getElementById("CartItem_ProductDetailID").value,
            "Price": document.getElementById("CartItem_Price").value,
            "Amount" : "1"
        };

	    $.ajax({
            url: "../ShoppingCart/AddToCart",
		    type: "POST",
            data: JSON.stringify({ item: jsonObject }),
		    dataType: "json",
		    contentType: "application/json; charset=utf-8",

		    success: function (response) {
			    //alert(response);
                alert('add shopping cart successfully');
                document.location.href = '../ShoppingCart/Index';
		    },
		    error: function (response) {
			    //alert(response.responseText);
                alert(response);
		    }
	    });
    });

    function DoNav(url) {
        document.location.href = url;
    }
    function setUpImageTable(modelPro) {
        var imageList = modelPro.Picture.split(',');
         
        var table = document.getElementById("imgTable");
        //var table = $("#imgTable");
        table.innerHTML = ' ';
        for (var r = 0; r < imageList.length; r++) {
            if (r == 0) {
                //var largeImage = document.getElementById("largeImageId");
                $("#largeImageId").attr("src", '/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r]);
                //var largeImage = $("#largeImageId");
                //largeImage.src = '/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r];
            }
            var row = table.insertRow(r);
            row.setAttribute("class", "productdetail_image_rectangle");
            row.setAttribute("align", "center");
            //row.insertCell(0).innerHTML = '<img align="middle" class="productdetail_image" src="/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r] + '">';
            row.insertCell(0).innerHTML = '<img align="middle" class="productdetail_image" src="/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r] + '" onmouseover="prev(\'' + imageList[r] + '\',\'' + modelPro.ProductId + '\',\'' + modelPro.Color + '\')" >';
        }
    }
    function prev(image, productId, color) {
        // sai: $("#largeImageId").src = '/assets/production/' + productId + '/' + color + '/' + image;
        $("#largeImageId").attr("src", '/assets/production/' + productId + '/' + color + '/' + image);
    }
    function displaySize(color) {
        var sizeList = document.getElementById("sizeID").options;  
        var sizeText = "undefined";
        if (document.getElementById("sizeID").selectedIndex >=0 )
            sizeText = document.getElementById("sizeID").options.item(document.getElementById("sizeID").selectedIndex).value;
        var chooseItem = false;
        for (var a = 0; a < sizeList.length; a++) {
            sizeList.item(a).setAttribute("style", "color:gray; min-height:25px;");
        }
        for (var i = 0; i < modelPro.length; i++) {
            if (color == modelPro[i].Color) {
                for (var s = 0; s < sizeList.length; s++) {
                    if (sizeList.item(s).text == modelPro[i].Size && modelPro[i].Amount > 0) {
                        sizeList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        if (chooseItem == false) {
                            document.getElementById("sizeID").selectedIndex = s;
                            chooseItem = true;
                        }
                    } 
                    if (sizeText == sizeList.item(s).text && sizeText == modelPro[i].Size && modelPro[i].Amount > 0) {
                        sizeList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        document.getElementById("sizeID").selectedIndex = s;
                        chooseItem = true;
                    }
                }
            }
        }
        if (chooseItem == false) {
            document.getElementById("sizeID").selectedIndex = -1;
        }
    }
    function displayColor(size) {
        var colorList = document.getElementById("colorID").options;
        var colorText = "undefined";
        if (document.getElementById("colorID").selectedIndex >= 0)
             colorText = document.getElementById("colorID").options.item(document.getElementById("colorID").selectedIndex).value;
        var chooseItem = false;
        for (var a = 0; a < colorList.length; a++) {
            colorList.item(a).setAttribute("style", "color:gray; min-height:25px;");
        }
        for (var i = 0; i < modelPro.length; i++) {
            if (size == modelPro[i].Size) {
                for (var s = 0; s < colorList.length; s++) {
                    if (colorList.item(s).text == modelPro[i].Color && modelPro[i].Amount > 0) {
                        colorList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        if (chooseItem == false) {
                            document.getElementById("colorID").selectedIndex = s;
                            chooseItem = true;
                        }
                    }
                    if (colorText == colorList.item(s).text && colorText == modelPro[i].Color && modelPro[i].Amount > 0) {
                        colorList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        document.getElementById("colorID").selectedIndex = s;
                        chooseItem = true;
                    }
                }
            }
        }
        if (chooseItem == false) {
            document.getElementById("colorID").selectedIndex = -1;
        }
    }
    function displayReviewStar() {
        var reviewRow = document.getElementById("starReiewID");
        reviewRow.innerHTML = ' ';
        // add start
        if (modelReview != null && modelReview != "undefined") {
            var count = 0;
            for (var i = 0; i < modelReview.length; i++) {
                //alert(modelReview[i].Title);
                count += modelReview[i].OverallRating;
            }
            var generalRating = Math.round(count / modelReview.length);
            document.getElementById("reviewCountID").textContent = "" + modelReview.length + " customer reviews";
            for (var j = 0; j < generalRating; j++) {
                reviewRow.insertCell(j).innerHTML = '<img src="/assets/common_img/Star.png" />';
            }
            for (var k = generalRating; k < 5; k++) {
                reviewRow.insertCell(j).innerHTML = '<img src="/assets/common_img/StarNone.png" />';
            }
        }
    }
    function changeColor(color) {
        displaySize(color);
        var size = $("#sizeID option:selected").val();
     
        /* if (size < 0) {
            $("#addToCartID").hide();
        } else {
            $("#addToCartID").show();
        }
        */
        if (modelPro != null && modelPro != "undefined") {
            for (var i = 0; i < modelPro.length; i++) {
                if (color == modelPro[i].Color && size == modelPro[i].Size) {
                    document.getElementById("priceID").innerText = modelPro[i].Price + "$";
                    setUpImageTable(modelPro[i]);
                    document.getElementById("descriptionID").innerText = modelPro[i].Description;

                    //alert(modelPro[i].ProductDetailsId);
                    document.getElementById("CartItem_Price").value = modelPro[i].Price;
                    document.getElementById("CartItem_ProductDetailID").value = modelPro[i].ProductDetailsId;

                    break;
                }
            }
        }
    }
    function changeSize(ob) {
        var size = ob.value;
        displayColor(size);
        var color = $("#colorID option:selected").val();
        /*  if (color < 0) {
             $("#addToCartID").hide();
         } else {
             $("#addToCartID").show();
         }
         */
        if (modelPro != null && modelPro != "undefined") {
            for (var i = 0; i < modelPro.length; i++) {
                if (color == modelPro[i].Color && size == modelPro[i].Size) {
                    document.getElementById("priceID").innerText = modelPro[i].Price + "$";
                    setUpImageTable(modelPro[i]);
                    document.getElementById("descriptionID").innerText = modelPro[i].Description;
                    break;
                }
            }
        }
    }
</script>