@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HHMarketWebApp.ViewModels.ReviewDetails

@{
    var mProduct = Model.product;
    var mReviewList = Model.reviewList;
    var mRating = Model.rating;
}

<style type="text/css"></style>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="~/Content/product.review.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/hhstyle.css">
<link rel="stylesheet" type="text/css" href="~/Content/writereview.css">

<div class="container" style="margin-top: 50px;">
    <table width="100%" >
        <tbody id="reviewListID">
            <tr style="margin: 10px;">
                <td width="20%">
                    <a id="productDetailId" href="#">
                        <img id="productImg" src="~/assets/aa1.jpg" width="180" height="180" alt="" />
                        <span style="text-decoration: underline; margin: 50px;">Back to Item</span>
                    </a>
                </td>
                <td width="30%">
                    <table>
                        <tr>
                            <td>
                                <span style="font-size: 16px; width: 100%; ">@Html.DisplayFor(modelItem => mProduct.ProductionName)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 18px ">@Html.DisplayFor(modelItem => mProduct.MinPrice)$ - @Html.DisplayFor(modelItem => mProduct.MaxPrice)$</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="btn_review_id" class="btn-review" data-toggle="modal" data-target="#addReviewModal">Write a Review</button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="50%">
                    <div style="margin-left: 20px;">
                        <div class="Grid-col valign-middle u-size-1-3-m u-size-1-4-l">
                            <div class="Grid-col valign-middle product-review-star-ratings">
                                <div class="stars stars-large">
                                    <span id="starsContainer" class="stars-container" alt="Average rating: 4.6 out of 5 stars, based on 32 reviews. "
                                          tabindex="" aria-label="Average rating: 4.6 out of 5 stars, based on 32 reviews. " role="text">
                                        <span id="star1" class="star display-inline-block" data-automation-id="stars-star-0" alt="rating star"></span>
                                        <span id="star2" class="star display-inline-block" data-automation-id="stars-star-1" alt="rating star"></span>
                                        <span id="star3" class="star display-inline-block" data-automation-id="stars-star-2" alt="rating star"></span>
                                        <span id="star4" class="star display-inline-block" data-automation-id="stars-star-3" alt="rating star"></span>
                                        <span id="star5" class="star display-inline-block" data-automation-id="stars-star-4" alt="rating star"></span>
                                    </span>
                                    <div class="product-review-ratings" aria-hidden="true" style="margin-top: 10px;">
                                        <span class="font-bold">@mRating.overrallRating</span> out of 5 Stars
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ReviewHistogram product-review-histogram">
                            <div tabindex="0" role="button" class="RatingFilter active" aria-label="11 5-star reviews, currently selected" aria-disabled="true">
                                <div class="MeterInline">5 stars</div>
                                <div class="Meter Histogram"><span class="MeterBar" style="width: @mRating.fiveStarReviewPercent%;"></span></div>
                                <span class="font-normal">@Html.DisplayFor(model => mRating.fiveStarReviewNumber)</span>
                            </div>
                            <div tabindex="0" role="button" class="RatingFilter" aria-label="4 4-star reviews,         select to filter by 4 star reviews">
                                <div class="MeterInline">4 stars</div>
                                <div class="Meter Histogram"><span class="MeterBar" style="width: @mRating.fourStarReviewPercent%;"></span></div>
                                <span class="font-normal">@Html.DisplayFor(model => mRating.fourStarReviewNumber)</span>
                            </div>
                            <div tabindex="0" role="button" class="RatingFilter" aria-label="3 3-star reviews,         select to filter by 3 star reviews">
                                <div class="MeterInline">3 stars</div>
                                <div class="Meter Histogram"><span class="MeterBar" style="width: @mRating.threeStarReviewPercent%;"></span></div>
                                <span class="font-normal">@Html.DisplayFor(model => mRating.threeStarReviewNumber)</span>
                            </div>
                            <div tabindex="0" role="button" class="RatingFilter" aria-label="3 2-star reviews,         select to filter by 2 star reviews">
                                <div class="MeterInline">2 stars</div>
                                <div class="Meter Histogram"><span class="MeterBar" style="width: @mRating.twoStarReviewPercent%;"></span></div>
                                <span class="font-normal">@Html.DisplayFor(model => mRating.twoStarReviewNumber)</span>
                            </div>
                            <div tabindex="0" role="button" class="RatingFilter" aria-label="2 1-star reviews,         select to filter by 1 star reviews">
                                <div class="MeterInline">1 stars</div>
                                <div class="Meter Histogram"><span class="MeterBar" style="width: @mRating.oneStarReviewPercent%;"></span></div>
                                <span class="font-normal">@Html.DisplayFor(model => mRating.oneStarReviewNumber)</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <div class="review-pad"></div>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <table id="reviewListAjax">
                        @{
                            Html.RenderPartial("_PartialPage_ReviewList", mReviewList);
                        }
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("AddNewReview", "ReviewProduction",
            new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" },
            new { @id = "AjaxformId", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReviewModalTitle">Add new Review</h5>
                    <button  onclick="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="a-section a-padding-medium ryp__review-form">
                        <form class="ryp__review-form__form">

                            <!-- Product overview ;  Overall rating -->
                            <h2 data-hook="ryp-product-header" class="a-spacing-micro"><span><span>Create Review</span></span></h2>
                            <div class="a-section a-spacing-mini ryp__card-group">
                                <div class="a-section a-spacing-medium ryp__card  ryp__card--full-width">
                                    <div class="a-section a-spacing-none ryp__card__horizontal-padding-container" style="background-color: white;">
                                        <div class="a-section ryp__card__vertical-padding-container">
                                            <div class="a-section ryp__product-star-rating">
                                                <!--Product overview-->
                                                <table>
                                                    <tr>
                                                        <td width="116" height="108"> 
                                                            <img id="productReviewImg" src="" alt="" width="129" height="93">
                                                        </td>
                                                        <td width="336">
                                                            <div class="a-section a-spacing-medium ryp__product-title ryp__util__padding-small-side">
                                                                <span data-hook="ryp-product-title" class="a-size-base ryp__product-title-text">@Html.DisplayFor(modelItem => mProduct.ProductionName)</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <!--Overall rating-->
                                                <hr class="a-spacing-large a-divider-normal" />
                                                <div id="btnContainersID" data-hook="ryp-review-stars" class="a-section ryp__review-stars">
                                                    <h3 class="a-spacing-micro"><span><span>Overall rating</span></span>
                                                    </h3>
                                                    <button id="ratingStar1" onclick="rating(this)" type="button" class="ryp__star__button" data-hook="ryp-star">
                                                        <img alt="select to rate item one star." 
                                                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" 
                                                             class="ryp__review-stars__star ryp__star ryp__star--large">
                                                    </button>
                                                    <button id="ratingStar2" onclick="rating(this)" type="button" class="ryp__star__button" data-hook="ryp-star">
                                                        <img alt="select to rate item two star." 
                                                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" class="ryp__review-stars__star ryp__star ryp__star--large">
                                                    </button>
                                                    <button id="ratingStar3" onclick="rating(this)" type="button" class="ryp__star__button" data-hook="ryp-star">
                                                        <img alt="select to rate item three star." 
                                                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" class="ryp__review-stars__star ryp__star ryp__star--large">
                                                    </button>
                                                    <button id="ratingStar4" onclick="rating(this)" type="button" class="ryp__star__button" data-hook="ryp-star">
                                                        <img alt="select to rate item four star." 
                                                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" class="ryp__review-stars__star ryp__star ryp__star--large">
                                                    </button>
                                                    <button id="ratingStar5" onclick="rating(this)" type="button" class="ryp__star__button" data-hook="ryp-star">
                                                        <img alt="select to rate item five star." 
                                                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" class="ryp__review-stars__star ryp__star ryp__star--large">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Title ;  Review content -->
                            <hr class="a-spacing-large a-divider-normal">
                            <div class="a-section a-spacing-none ryp__card">
                                <div class="a-section a-spacing-none ryp__card__horizontal-padding-container" style="background-color: white;">
                                    <div class="a-section ryp__card__vertical-padding-container">
                                        <label data-hook="ryp-review-title-label" for="ryp-review-title" class="a-form-label a-text-normal">
                                            <h3><span><span>Add a headline</span></span></h3>
                                        </label>
                                        <div class="a-section a-spacing-medium a-spacing-top-small ryp__review-title">
                                            <input type="text" data-hook="ryp-review-title-input" id="ryp-review-title" placeholder="What's most important to know?" class="a-input-text a-form-error" value="">
                                            <div class="a-section a-spacing-top-small">
                                                <div data-hook="ryp-review-title-validation-error" class="a-box a-alert-inline a-alert-inline-error" aria-live="assertive" role="alert">
                                                    <div class="a-box-inner a-alert-container">
                                                        <i class="a-icon a-icon-alert"></i>
                                                        <div class="a-alert-content">Please enter your headline.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h3><span><span>Write your review</span></span></h3>
                                        <div data-hook="ryp-review-text" class="a-section a-spacing-medium a-spacing-top-small ryp__review-text">
                                            <div data-hook="ryp-review-text-input" class="a-input-text-wrapper">
                                                <textarea placeholder="What did you like or dislike? What did you use this product for?" id="ryp-review-text" style="height: 100px; z-index: auto; position: relative; line-height: 19px; font-size: 13px; transition: none 0s ease 0s; background: transparent !important; width: 400px" data-gramm="true" data-txt_gramm_id="a5205aab-5187-0eb2-b4a0-1760ff1da95f" data-gramm_id="a5205aab-5187-0eb2-b4a0-1760ff1da95f" spellcheck="false" data-gramm_editor="true" class="a-form-error"></textarea>

                                            </div>
                                            <div class="a-section a-spacing-top-small">
                                                <div data-hook="ryp-review-text-validation-error" class="a-box a-alert-inline a-alert-inline-error" aria-live="assertive" role="alert">
                                                    <div class="a-box-inner a-alert-container">
                                                        <div class="a-alert-content">Please enter your review.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modelDismiss" onclick="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send your review</button>
                </div>
            </div>
        }
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var product;
    var reviewNumber;
    var overrallRating;

    $(document).ready(function () {
        product = @Html.Raw(Json.Encode(mProduct));
        overrallRating = @Html.Raw(Json.Encode(mRating.overrallRating));

        setUpImage(product);

        var bigStarContainner = document.getElementById("starsContainer");
        setUpRatingStars(bigStarContainner, overrallRating);

        $("#btn_review_id").click(function (event) {
            var flg = @Html.Raw(Json.Encode(HttpContext.Current.User.Identity.IsAuthenticated));
            if (!flg) {
                alert('Please login first');
                event.preventDefault();
                event.stopImmediatePropagation();  
                document.location.href = "../User/Login";
            }
        });

		$("#AjaxformId").submit(function (event) {
	        event.preventDefault();
	        event.stopImmediatePropagation();  
	
	        // count rated stars
	        var count = 0;
	        btnContainers = document.getElementById("btnContainersID").children;
	        for (var i = 1; i < btnContainers.length; i++) {
	            btnContainer = btnContainers[i];
	            if (btnContainer.classList.contains("rated")) {
	                count = count + 1;
	            }
	        }
	
            var action = $("#AjaxformId").attr("action");
	        var postData = {
	            "OverallRating": count,
	            "Title": document.getElementById("ryp-review-title").value,
	            "Content": document.getElementById("ryp-review-text").value,
	            "ProductId": product.ProductId,
	        };
	        $.ajax({
	            type: "POST",
	            url: action,
	            //dataType: "json",
                datatype: "text/plain",
                cache: false,
	            contentType: "application/json; charset=utf-8",
	            data: JSON.stringify({ model: postData }), 
                success: function (result) {
                    if (result.ResponseType == '2') {
                        alert(result.Msg);
                        document.location.href = "../User/Login";
                    }
                    else {
                        alert("take review comment successfully");
                        var dismiss = document.getElementById('modelDismiss');
                        dismiss.click();

                        $("#reviewListAjax").html(result);
                    }
	            },
                error: function (result) {  
                    alert(result.Msg);
	            }
	        });  
	    });
    });

    function closeModal() {
        btnContainers = document.getElementById("btnContainersID").children;
        for (var i = 1; i < btnContainers.length; i++) {
            btnContainer = btnContainers[i];
            btnContainer.classList.remove("rated");
            btnContainer.children[0].src = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==";
        }

        var reviewTitleInput = document.getElementById("ryp-review-title");
        reviewTitleInput.value = '';
        var reviewContentInput = document.getElementById("ryp-review-text");
        reviewContentInput.value = '';
    }

    function rating(currentBtnContainer) {
        //alert(ob.id);
        var reviewStarsGroup = currentBtnContainer.parentElement;
        var btnContainers = reviewStarsGroup.children;
        var index = Array.prototype.indexOf.call(btnContainers, currentBtnContainer);
        //alert(index);
        for (var i = index; i < btnContainers.length; i++) {
            btnContainer = btnContainers[i];
            btnContainer.classList.remove("rated");
            btnContainer.children[0].src = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==";
        }

        for (var i = 1; i <= index; i++) {
            btnContainer = btnContainers[i];
            btnContainer.classList.add("rated");
            btnContainer.children[0].src = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgeDE9IjUwJSIgeDI9IjUwJSIgeTE9IjI3LjY1JSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGRkNFMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNGRkE3MDAiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGlkPSJiIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9InVybCgjYSkiIHhsaW5rOmhyZWY9IiNiIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==";
        }
    }

    function setUpImage(product) {
        var imageList = product.Picture.split(',');

        document.getElementById("productDetailId").href = "../Production/ProductDetail?id=" + product.ProductId;
        document.getElementById("productImg").src =
            '/assets/production/' + product.ProductId + '/' + product.Color + '/' + imageList[0];

	    document.getElementById("productReviewImg").src =
    	    '/assets/production/' + product.ProductId + '/' + product.Color + '/' + imageList[0];
    }

    function setUpRatingStars(starContainner, overrallRating) {
        function setUpRatedStar(endIndex) {
            if (starContainner.hasChildNodes()) {
                var children = starContainner.children;
                for (var i = 0; i < endIndex; i++) {
                    children[i].classList.add("star-rated");
                }
            }
        }
        function setUpPartialStar(index) {
            if (starContainner.hasChildNodes()) {
                var children = starContainner.children;
                children[index-1].classList.add("star-partial");
            }
        }
        function setUpEmtyStars(startIndex) {
            if (starContainner.hasChildNodes()) {
                var children = starContainner.children;
                for (var i = (startIndex - 1); i < starContainner.children.length; i++) {
                    children[i].classList.add("star-empty");
                }
            }
        }

        if (overrallRating == 1) {
            setUpRatedStar(1);
            setUpEmtyStars(starContainner, 2);
        }
        else if (overrallRating > 1 && overrallRating < 2) {
            setUpRatedStar(1);
            setUpPartialStar(2);
            setUpEmtyStars(3);
        }
        else if (overrallRating == 2) {
            setUpRatedStar(2);
            setUpEmtyStars(3);
        }
        else if (overrallRating > 2 && overrallRating < 3) {
            setUpRatedStar(2);
            setUpPartialStar(3);
            setUpEmtyStars(4);
        }
        else if (overrallRating == 3) {
            setUpRatedStar(3);
            setUpEmtyStars(4);
        }
        else if (overrallRating > 3 && overrallRating < 4) {
            setUpRatedStar(3);
            setUpPartialStar(4);
            setUpEmtyStars(5);
        }
        else if (overrallRating == 4) {
            setUpRatedStar(4);
            setUpEmtyStars(5);
        }
        else if (overrallRating > 4 && overrallRating < 5) {
            setUpRatedStar(4);
            setUpPartialStar(5);
        }
        else if (overrallRating == 5) {
            setUpRatedStar(5);
        }
    }

</script>
